openapi: 3.0.3

info:
  title: FinanceFlow AI API
  version: 1.0.0
  description: API for expense tracking, budgeting, savings goals, analytics, notifications, and AI recommendations.

servers:
  - url: https://api.financeflowai.com/v1

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer

    Expense:
      type: object
      properties:
        id:
          type: integer
        amount:
          type: number
        category:
          type: string
        description:
          type: string
        date:
          type: string
          format: date

    Budget:
      type: object
      properties:
        id:
          type: integer
        category:
          type: string
        limit:
          type: number

    SavingsGoal:
      type: object
      properties:
        id:
          type: integer
        goal_name:
          type: string
        target_amount:
          type: number
        current_amount:
          type: number

  responses:

    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    BadRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundError:
      description: Resource Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

security:
  - bearerAuth: []

paths:

  /auth/login:
    post:
      summary: Authenticate user

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string

      responses:
        '200':
          description: Login successful

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /expenses:

    get:
      summary: Retrieve all expenses

      security:
        - bearerAuth: []

      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1

        - in: query
          name: limit
          schema:
            type: integer
            default: 10

      responses:
        '200':
          description: Expense list returned

        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: Create expense

      security:
        - bearerAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Expense'

      responses:
        '201':
          description: Expense created

        '400':
          $ref: '#/components/responses/BadRequestError'

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /expenses/{id}:

    get:
      summary: Retrieve expense by ID

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: Expense retrieved

        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      summary: Update expense

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Expense'

      responses:
        '200':
          description: Expense updated

        '400':
          $ref: '#/components/responses/BadRequestError'

        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      summary: Delete expense

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: Expense deleted

        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '404':
          $ref: '#/components/responses/NotFoundError'

  /budgets:

    get:
      summary: Retrieve budgets

      security:
        - bearerAuth: []

      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1

        - in: query
          name: limit
          schema:
            type: integer
            default: 10

      responses:
        '200':
          description: Budget list returned

        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: Create budget

      security:
        - bearerAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'

      responses:
        '201':
          description: Budget created

        '400':
          $ref: '#/components/responses/BadRequestError'

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /budgets/{id}:

    put:
      summary: Update budget

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: Budget updated

        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      summary: Delete budget

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: Budget deleted

        '404':
          $ref: '#/components/responses/NotFoundError'

  /savings-goals:

    get:
      summary: Retrieve savings goals

      security:
        - bearerAuth: []

      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1

        - in: query
          name: limit
          schema:
            type: integer
            default: 10

      responses:
        '200':
          description: Savings goals returned

        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: Create savings goal

      security:
        - bearerAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavingsGoal'

      responses:
        '201':
          description: Savings goal created

        '400':
          $ref: '#/components/responses/BadRequestError'

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /savings-goals/{id}:

    put:
      summary: Update savings goal

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: Savings goal updated

        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      summary: Delete savings goal

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: Savings goal deleted

        '404':
          $ref: '#/components/responses/NotFoundError'

  /analytics/dashboard:

    get:
      summary: Retrieve dashboard analytics

      security:
        - bearerAuth: []

      responses:
        '200':
          description: Dashboard analytics returned

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /reports/monthly:

    get:
      summary: Generate monthly report

      security:
        - bearerAuth: []

      responses:
        '200':
          description: Monthly report generated

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /notifications:

    get:
      summary: Retrieve notifications

      security:
        - bearerAuth: []

      responses:
        '200':
          description: Notification list returned

        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /ai/recommendations:

    get:
      summary: Retrieve AI recommendations

      security:
        - bearerAuth: []

      responses:
        '200':
          description: AI recommendations returned

        '401':
          $ref: '#/components/responses/UnauthorizedError'